.Popover-body {
	padding:0;
	overflow: hidden;
}

.selection-search {
	height: 100%;
	width: 100%;
	resize: none;
}

.selection-add {
	height: "100%";
	width: "100%";
}

.chart-set {
	height:70vh;
}

.chart-visual {
	min-height: 60vh;
	max-height: 60vh;
	min-width: 60vh;
	max-width: 60vh;

}
.chart-chunk {
	min-height: 63vh;
	max-height: 63vh;
	min-width: 63vh;
	max-width: 63vh;
	background-color: "#EEE";
	border: "1px solid Gray";
	border-radius: "10px";
	padding: "10px"
}

.selection-chunk {
	button, p {
		margin: 0;
		margin: 5px;
		height: 100%;
		width: 100%;
		vertical-align: middle;
	}

	.row-text {
		transform: translateY(25%);
	}

}

.line {
	width: 90%;
	height: 1px;
	background-color: gray;
	margin-bottom: 30px;
}

.chart-settings {
	background-color: #eee;
	border: 1px solid gray;
	border-radius: 10px;
	padding:10px;
	height: 100%;
}

.selection-row {
	margin: 15;
	height: "100%"
}


.chart-settings {
	background-color: "#DDD";
	border: "1px solid Gray";
	border-radius: "10px";
	 padding: "2.5%";
}

.add-selection { 
			margin: 0;
		margin: 5px;
		height: 100%;
		width: 100%;
		vertical-align: middle;
}